#login-btn {
  margin: 10px;
  border: 0;
  color: #999;
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
}

#login-btn:hover {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}

h4 {
  color: #ebd800;
}

.btn {
  background-color: #484848;
  margin-top: 1rem;
}

.row {
  margin: 2rem;
}

.modal-header,
.modal-body {
  background-color: #181818;
  font-weight: 100;
  border: none;
}

.modal-title {
  color: #edd700;
  font-size: 1.4rem;
  font-weight: lighter;
  text-transform: uppercase;
}

.modal-header {
  border: none;
}

#btn {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: flex-end;
  background-color: #181818;
}

#submitMSG {
  color: #ebd800;
  font-size: larger;
  margin-top: 20px;
}
