
<!-- Button trigger modal -->
<a type="button" id="login-btn" (click)="open(mymodal)" data-bs-toggle="loginModal">
	LOG IN
</a>

<ng-template #mymodal let-loginModal>

	<!-- Modal -->

	<div class="modal-header bg-dark">
		<img src="../../../assets/logos.png" class="logos">
		<button type="button" class="btn-close" aria-label="Close"
			(click)="loginModal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body bg-dark text-center">
		<h4 class="modal-title" id="loginModal">ENTER YOUR EMAIL ADDRESS</h4>
		<form>
			<div class="row">
				<label for="inputEmail">Email address</label>
				<input type="email" class="form-control" id="inputEmail"
					aria-describedby="emailHelp" placeholder="Email Address">
				<button type="submit" class="btn btn-primary"
					(click)="loginModal.close('Save click')">Continue</button>
			</div>
		</form>
	</div>

</ng-template>