#login-btn {
    margin: 10px;
    border: 0;
    color: rgba(255, 255, 255, 0.274);
}

h4 {
    color: #EBD800;
}

.btn {
    background-color: #484848;
    margin-top: 1rem;
}

.row {
    margin: 2rem;
}

.modal-header, .modal-body {
    background-color: #181818;
    font-weight: 100;
}

.modal-header {
    border: none;
}

#btn {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: end;
    background-color: #181818;
}

#submitMSG {
    color: #EBD800;
    font-size: larger;
    margin-top: 20px;
}