li {
    list-style: none;
  }

  .list {
    margin: 0px;
    height: 100%;
    width: auto;
    color:antiquewhite;
    display: flex;
    flex-direction: column;
    font-weight: lighter;
    font-family: 'Star Jedi', arial;
  }