
<div class="starship-data">
    <img src="{{ imageUrl }}/{{ ship | id}}.jpg"
    onerror="this.src='https://starwars-visualguide.com/assets/img/big-placeholder.jpg'">
    <h1>{{ ship.name }}</h1>
    <hr>
    <h3>Model: {{ ship.model }}</h3>
    <h3>Manufacturer: {{ ship.manufacturer }}</h3>
    <h3>Class: {{ ship.starship_class }}</h3>
    <h3>Cost: {{ ship.cost_in_credits }}</h3>
    <h3>Speed: {{ ship.max_atmosphering_speed }}</h3>
    <h3>Hyperdrive Rating: {{ ship.hyperdrive_rating }}</h3>
    <h3>MGLT: {{ ship.MGLT }}</h3>
    <h3>Length: {{ ship.length }}</h3>
    <h3>Cargo Capacity: {{ ship.cargo_capacity }}</h3>
    <h3>Mimimum Crew: {{ ship.crew }}</h3>
    <h3>Passengers: {{ ship.passengers }}</h3>
</div>

