
/* .starship-image img {
    border: 0;
    vertical-align: bottom;
    overflow: hidden;
    position: relative;
    background: #0e0e0e;
    padding-top: 56.25%;
} */

/* .building-block {
    border-radius: 6px;
    top: 0;
    width: 40% !important;
    right: 0;
    border-width: 0 0 0 2px;
    float: right;
    border-color: #9e4f60;
}
 */
/* .content-wraper {
    height: 100%;
    border-color: #9e4f60;
    padding: 0.9em 0.84em;
    position: relative;
    width: 100%;
    font-size: 1rem;
    border-style: solid;
    border-width: 2px 0 0;
    color:white;
} */

.building-block {
    margin-bottom: 3rem;
    font-size: 1rem;
    color:#ddd;
    
}

h3 {
    font-size: 0.99em;
    line-height: 1.3em;
    letter-spacing: 0.06em;
    color: #ddd;
    text-transform: uppercase;
    font-family: DIN, Helvetica, Arial, sans-serif;
    font-weight: 800;
    margin-top: 20px;
    margin-left: 20px;
}

.card {
    background-color: rgb(73, 73, 73);
} 

.starship-image img {
    width: 100%;
    height: 70vh;
    margin-top: 12px;
    border-style: solid;
    border-width: 0 0 3px;
    border-color: #9e4f60;
}